<div class="loading" *ngIf="spinner">
    <div class="loader"></div>
</div>
<div class="employee-container">
    <p-accordion>
        <p-accordionTab header="Employee Personal Details" >
            <p-accordion>
                <p-accordionTab header="Project Details" >
                   Content 1
                </p-accordionTab>
                <p-accordionTab header="Skill Details">
                    Content 2
                </p-accordionTab>
                <p-accordionTab header="Interview Details">
                    Content 3    
                </p-accordionTab>
            </p-accordion>
         </p-accordionTab>
         <p-accordionTab header="Employee Statistics" >
            <div class="row">
                <div class="col-md-6">
                    <h3>Cibil Score</h3>
                    <p-chart type="pie" [data]="pieChartdata"></p-chart>
                </div>
                <div class="col-md-6">
                    <h3>Last One Year Performance</h3>
                    <p-chart type="pie" [data]="pieChartdata"></p-chart>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <h3>Overall Performance</h3>
                    <p-chart type="bar" [data]="barChartdata"></p-chart>
                </div>
            </div>
         </p-accordionTab>
    </p-accordion>
</div>


