h3 {
    text-align: center;
}
.padding-bottom{
    padding-bottom: 70px;
}
.employee-container{
    padding: 20px 10px;
}
ul li {
    list-style: none;
    margin: 10px;
}
ul li  span {
    margin-left: 10px;
}