<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Cibil Score App</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">All Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="signout()">Signout</a>
    </li>
  </ul>
</nav>
<main role="main" class="container">
<router-outlet></router-outlet>
</main>
  <div class="footer">
    <p>HCL Technologies</p>
  </div>